<div class="card user-list">
    <div class="navbar card-header col m-0">
        <div *ngIf="isLoading" class="mr-auto ml-3 text-secondary">
            <div class="spinner-border spinner-border-sm text-secondary mr-2" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>Loading...</span>
        </div>
        <div *ngIf="users && users.length == 0">
            <span class="ml-3">No Users</span>
        </div>
        <app-search-form (displayMessage)="displayMessage($event)" (handleSearch)="handleSearch($event)"></app-search-form>
    </div>
    <div class="card-body">
        <app-message-display *ngIf="message" [message]="message"></app-message-display>
        <ul *ngIf="users && users.length > 0" class="list-group list-group-flush">
            <li *ngFor="let user of users; index as i;" class="list-group-item d-flex justify-content-between">
                {{i+1}} &nbsp; {{ user.loginName }}
                <div>
                    <button [routerLink]="['/user/view', user.loginName]" class="btn btn-sm btn-primary ml-2">
                        <i class="fa fa-eye"></i> View
                    </button>
                    <button  data-toggle="modal" [attr.data-target]="'#deleteDialog-'+user.loginName" class="btn btn-sm btn-danger ml-2">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                    <app-delete-dialog class="modal fade" tabindex="-1" role="dialog" 
                        [id]="'deleteDialog-'+user.loginName" 
                        [itemName]="user.loginName" 
                        [itemID]="user.loginName" 
                        (handleDelete)="handleDelete($event)"></app-delete-dialog>
                </div>
            </li>
        </ul>
    </div>
</div>