<div class="row mt-5">
    <div class="container d-flex justify-content-around">
        <div class="col-4">
            <div class="card text-center position-relative">
                <div class="card-header h5">
                    Quiz
                </div>
                <div class="card-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorum minima natus</p>
                    <button class="stretched-link btn btn-primary" [routerLink]="['/quiz']">View Quizs</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header h5">
                    User
                </div>
                <div class="card-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorum minima natus</p>
                    <button class="stretched-link btn btn-primary">View Users</button>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <div class="card">
                <div class="card-header h5">
                    Exam
                </div>
                <div class="card-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorum minima natus</p>
                    <button class="stretched-link btn btn-primary" [routerLink]="['/exam']">Take Exam</button>
                </div>
            </div>
        </div>
    </div>
</div>
