<div class="card shadow-sm rounded-5 quiz-view">
    <div class="navbar card-header col m-0">
        <span class="h5">Detail</span>
        <div *ngIf="isLoading" class="mr-auto ml-3 text-secondary">
            <div class="spinner-border spinner-border-sm text-secondary mr-2" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>Loading...</span>
        </div>
        <div>
            <button *ngIf="quiz" [routerLink]="['/quiz/edit',quiz.id]" class="btn btn-sm btn-primary mr-2"> 
                <i class="fa fa-edit"></i> Edit
            </button>
            <button *ngIf="quiz" click="hand" class="btn btn-sm btn-danger" data-toggle="modal" [attr.data-target]="'#deleteDialog-'+quiz.id"> 
                <i class="fa fa-trash"></i> Delete
            </button>
            <app-delete-dialog *ngIf="quiz" class="modal fade" tabindex="-1" role="dialog" 
                        [id]="'deleteDialog-'+quiz.id" 
                        [itemName]="quiz.title" 
                        [itemID]="quiz.id" 
                        (handleDelete)="handleDelete($event)"></app-delete-dialog>
        </div>
    </div>

    <div *ngIf="quiz" class="card-body">
        <app-message-display *ngIf="message" [message]="message"></app-message-display>
        <div class="row">
            <div class="col-sm-2 h5 quiz-item-title">Title</div>
            <div class="col-sm-10">
                <abbr title="Quiz title">{{quiz.title}}</abbr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 h5 quiz-item-title">Code</div>
            <div class="col-sm-10">
                <abbr title="Quiz access code">{{quiz.code}}</abbr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 h5 quiz-item-title">Questions</div>
            <div class="col-sm-10">
                <abbr title="Quiz access code">{{quiz.questions.length}}</abbr>
            </div>
        </div>
    </div>
</div>
<div *ngIf="quiz.questions">
    <div class="card shadow-sm rounded-5 question-view"  *ngFor="let question of quiz.questions; let i = index;">
        <div class="navbar card-header col m-0">
            <span class="h5">Question #{{i+1}}</span>
        </div>
        <div class="card-body">
            <h5>{{question.title}}</h5>
            <span>{{question.type}}</span>
            <div *ngIf="question.type=='Multiple Choice'">
                <span *ngFor="let choice of question.choices; let cindex = index;" class="badge mr-2">
                    {{cindex+1}}. {{choice.choice}} <i *ngIf="choice.correct" class="fa fa-check" ></i> 
                </span>
            </div>
        </div>
    </div>
</div>
